:root {
	--fontFamily: 'Myriad Pro', sans-serif;
	--fontWeightRegular: 400;
	--siteСontainer: 1600px;
	--rootСontainer: 810px;
	--offsetStep: 40px;
	--colorText: #2f3536;
	--colorSubTitle: #9bad76;
	--colorMenu: #313436;
	--colorIcon: #777a7d;
	--colorHover: #537F65;
	--letterSpacing: 1.1px;
	--transition: 0.3s;
}